/* ----------------------- wrapper ------------------------- */

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}

.main__container {
    width: 1600px;
}

/* ----------------------- content ------------------------- */

.content {
    margin: 50px;
}
.content h1 {
    font-size: 64px;
    font-weight: 600;
}
.content__cards-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    row-gap: 80px;
    column-gap: 250px;
}
.content__card-item {
    display: flex;
    flex-direction: row;
    column-gap: 40px;


}
.content__card--image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__card__text {
    display: flex;
    flex-direction: column;

}
.content__card__text--title {
    font-size: 34px;
    font-weight: 500;
}
.content__card__text--desc {
    margin-top: 10px;
    font-size: 24px;

}