.container {
    position: fixed;
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    background: rgb(252, 217, 175);
    z-index: 999;

}
.container_active {
    position: fixed;
    display: flex;
    align-items: center;
    height: 120px;
    width: 100%;
    filter: blur(6px);
    z-index: 998;

}

.main__container {
    background: rgb(252, 217, 175);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.header__links {
    display: flex;
    flex-direction: row;
    column-gap: 80px;
    align-items: center;
    font-size: 34px;
    font-weight: 500;
}

@media (max-width: 1600px) {
    .header__links {
        column-gap: 40px;
        align-items: center;
        font-size: 24px;
        font-weight: 500;
    }
}

.header__links--item {
    cursor: pointer;
}

.header__links--item:hover {
    text-decoration: underline;
    opacity: 0.4;
}

.header__contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__contacts--phone {
    font-size: 28px;
    font-weight: 300;
}

@media (max-width: 1600px) {
    .header__contacts--phone {
        font-size: 16px;
    }
}

.header__contacts__social {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}

@media (max-width: 1600px) {
    .header__contacts__social {
        column-gap: 20px;
    }
}

.header__contacts__social--vk:hover {
    opacity: 0.4;
}

.header__contacts__social--telegram:hover {
    opacity: 0.4;
}

.header__contacts__social--whatsapp:hover {
    opacity: 0.4;
}

.header__contacts__social--vk {
    width: 30px;
    height: 30px;
}

.header__contacts__social--telegram {
    width: 40px;
    height: 40px;
}

.header__contacts__social--whatsapp {
    width: 30px;
    height: 30px;
}
