.container {
    display: flex;
    justify-content: center;
    background: bisque;
    width: 100%;
    margin-bottom: 100px;
}
.main__container {
    margin-top: 200px;
    margin-bottom: 50px;
    width: 1600px;
    height: 500px;
}

/* ----------------------------- title ------------------------------- */

.title {
    display: flex;
    justify-content: center;
    margin-bottom: 140px;
}
.title__text {
    font-size: 60px;
    font-weight: 600;
}

/* ----------------------------- body ---------------------------------- */

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* ---------------------------- body__info ---------------------------- */

.body__info {
    padding-right: 100px;
    border-right: 4px solid black;
}
.body__info--phone {
    font-size: 36px;
    margin-bottom: 60px;
}
.body__info--phone:hover {
    opacity: 0.6;
    cursor: pointer;
}
.body__info--email {
    font-size: 36px;
    margin-bottom: 60px;
}
.body__info--email:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* ---------------------------- body__info__social ----------------------- */

.body__info__social {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}
.body__info__social--telegram {
    margin-top: -7px;
}
.body__info__social--telegram:hover {
    opacity: 0.6;
}
.body__info__social--vk {
    margin-right: 6px;
}
.body__info__social--vk:hover {
    opacity: 0.6;

}
.body__info__social--whatsapp {

}
.body__info__social--whatsapp:hover {
    opacity: 0.6;
}

/* ---------------------------- body__feedback -------------------------- */

.body__feedback {
    padding-left: 100px;
}
.body__feedback__input {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}
.body__feedback__input--email {
    font-size: 36px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;

}
.body__feedback__input--name {
    font-size: 36px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 8px;

}
.body__feedback__button {
    margin-top: 50px;
    width: 300px;
}